<nav class="navbar">
  <div class="navbar__top">
    <button class="menu-toggle" (click)="toggleSidebar()">
      <i data-feather="menu"></i>
    </button>
    <div class="logo">
      <img src="/assets/images/KAVACH.png" alt="Logo" />
    </div>
  </div>

  <ul class="sidebar-menu" [class.open]="isSidebarOpen">
    <li>
      <a routerLink="/admin-dashboard" (click)="closeSidebar()">
        <i data-feather="grid"></i><span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/dynamic" (click)="closeSidebar()">
        <i data-feather="upload"></i><span>Restore File</span>
      </a>
    </li>
    <li>
      <a routerLink="/personalinformation" (click)="closeSidebar()">
        <i data-feather="user"></i><span>Personal Info</span>
      </a>
    </li>
    <li>
      <a routerLink="/corporateaccount" (click)="closeSidebar()">
        <i data-feather="briefcase"></i><span>Corporate Accounts</span>
      </a>
    </li>
    <li>
      <a routerLink="/useraccount" (click)="closeSidebar()">
        <i data-feather="users"></i><span>User Accounts</span>
      </a>
    </li>
   
    <!-- <li>
      <a routerLink="/labdetails" (click)="closeSidebar()">
        <i data-feather="microscope"></i><span>Lab Details</span>
      </a>
    </li>
    <li>
      <a routerLink="/uploadtocloud" (click)="closeSidebar()">
        <i data-feather="cloud-upload"></i><span>Upload to Cloud</span>
      </a>
    </li> -->
   
    <li class="logout">
      <a routerLink="/logout" (click)="closeSidebar()">
        <i data-feather="log-out"></i><span>Logout</span>
      </a>
    </li>
  </ul>
</nav>
