<div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-success text-white offcanvas-md offcanvas-start menu-container">
  <a href="dashboard" class="navbar-brand">
    <img src="/assets/images/KAVACH.png" alt="Proffers Logo" class="logo">
  </a>
  <hr>
  <ul class="mynav nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-2" *ngFor="let item of resourceNames">
      <a href='/{{ item.pageName }}'>
        <i class="fa-regular"></i>
        {{ item.displayName }}
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex">
    <i class="fa-solid fa-book me-2"></i>
    <span>
      <h6 class="mt-1 mb-0">
        DATA KAVACH
      </h6>
    </span>

  </div>
</div>
