.menu-container {
  width: 270px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #0056b3);
  color: #ffffff;
  box-shadow: 4px 0 12px rgb(175, 175, 174);
  border-radius: 0 20px 20px 0;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: 60%;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.mynav .nav-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 8px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
}

.mynav .nav-item a:hover {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #ffffff;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.offcanvas-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .menu-container {
    border-radius: 0;
    min-height: auto;
  }
}