<app-navbar></app-navbar>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style=" background-color: #f1f5fd !important; margin-top: 15px; margin-bottom: 15px;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="span-margin-top-10">

                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-8">
                                <p style="font-size: 30px; padding-top: 20px; animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">
                                Participating in Digital Health Ecosystem
                                
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                Digitally secure Ayushman Bharath Health Account (ABHA) allows patients to access and share their health records
                                digitally.Using ABHA patient can receive their digital lab reports, doctor prescriptions and diagnosis generated through
                                eHospital</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="/register" class="btn btn-primary"
                                    style=" width: 100%; color: #fff; background-color: #E51756; border-color: #2D3A49; margin-bottom: 10px;">Register</a>
                            </div>
                            <!-- <div class="col-lg-4">
                                <a href="#" id="trackLoanStatus" data-toggle="modal" data-target="#LoginModal"
                                    class="btn btn-default"
                                    style="width: 100%; color: #fff; background-color: #2D3A49; border-color: #2D3A49;">Track
                                    Loan Status</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../assets/images/homeimage.jpeg" style=" width: -webkit-fill-available;" />
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" style=" background-color: #f1f5fd !important; margin-top: 15px; margin-bottom: 15px;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="span-margin-top-10">

                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-8">
                                <p
                                    style="font-size: 30px; padding-top: 20px; animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">
                                    Fast Service During Emergency</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <p>e-Hospital is a workflow based Integrated HMIS over cloud, e-Hospital is a generic application, which addresses all the
                                major functional areas of a hospital.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <img src="../assets/images/homeimage2.jpeg" style=" width: -webkit-fill-available;" alt=""/>
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<app-footer></app-footer>