<div class="container-fluid p-0 d-flex h-100">
  <app-dynamic-menus></app-dynamic-menus>

  <div class="bg-light flex-fill">
    <div class="p-2 d-md-none d-flex text-white bg-success">
      <a href="dashboard" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
        <i class="fa-solid fa-bars"></i>
      </a>
      <span class="ms-3">Data Kavach</span>
    </div>
    <div class="p-4">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="dashboard"
            style="float: right; position: absolute; right: 1px; padding-right: 0px; margin-right: 0px; font-size: 15px;">
            Welcome: {{ userSessionDetails?.username }}
          </a>
        </div>
      </nav>
      <hr>
      <div class="row">
        <div class="container">
          <div class="row" style="background-color: #f1f5fd !important; margin-top: 15px; margin-bottom: 15px;">
            <div class="col-lg-12">
              <h1 style="text-align: center">Create User Account</h1>
            </div>
            <div class="col-lg-12">
              <form [formGroup]="frmValidate" id="frmRegistration" (ngSubmit)="onCreateUserAccount()" novalidate>
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Personal Details</legend>
                  <div class="row mb-3">
                    <div class="col-lg-4">
                      <label for="firstName">First Name <span class="mandatory">*</span></label>
                      <input type="text" class="form-control" aria-describedby="firstName" placeholder="Enter First Name"
                        id="firstName" maxlength="50" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }">
                      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors?.['required']">First name is required</div>
                        <div *ngIf="f['firstName'].errors?.['minlength']">Minimum 3 characters required</div>
                        <div *ngIf="f['firstName'].errors?.['pattern']">Only letters allowed</div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label for="middleName">Middle Name</label>
                      <input type="text" class="form-control" id="middleName" formControlName="middleName"
                        aria-describedby="middleName" placeholder="Enter Middle Name" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && f['middleName'].errors }">
                      <div *ngIf="submitted && f['middleName'].errors" class="invalid-feedback">
                        <div *ngIf="f['middleName'].errors?.['minlength']">Minimum 3 characters required</div>
                        <div *ngIf="f['middleName'].errors?.['pattern']">Only letters allowed</div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label for="lastName">Last Name <span class="mandatory">*</span></label>
                      <input type="text" class="form-control" id="lastName" formControlName="lastName"
                        aria-describedby="lastName" placeholder="Enter Last Name" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }">
                      <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors?.['required']">Last name is required</div>
                        <div *ngIf="f['lastName'].errors?.['minlength']">Minimum 3 characters required</div>
                        <div *ngIf="f['lastName'].errors?.['pattern']">Only letters allowed</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label for="gender">Gender <span class="mandatory">*</span></label>
                      <select class="form-control" formControlName="gender" aria-describedby="gender"
                        [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
                        <option value="" selected>--Select Gender--</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                        <div *ngIf="f['gender'].errors?.['required']">Gender is required</div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label for="branch">Branch <span class="mandatory">*</span></label>
                      <input type="text" class="form-control" id="branch" formControlName="branch" aria-describedby="branch"
                        placeholder="Enter Branch" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f['branch'].errors }">
                      <div *ngIf="submitted && f['branch'].errors" class="invalid-feedback">
                        <div *ngIf="f['branch'].errors?.['required']">Branch is required</div>
                        <div *ngIf="f['branch'].errors?.['minlength']">Minimum 3 characters required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label for="cityId">City <span class="mandatory">*</span></label>
                      <input type="text" class="form-control" id="cityId" formControlName="city" aria-describedby="city"
                        placeholder="Enter City" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
                      <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                        <div *ngIf="f['city'].errors?.['required']">City is required</div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label for="pinCode">Zip Code <span class="mandatory">*</span></label>
                      <input type="text" class="form-control" id="pinCode" formControlName="pinCode" aria-describedby="pincode"
                        placeholder="Enter Zip Code" maxlength="20"
                        [ngClass]="{ 'is-invalid': submitted && f['pinCode'].errors }">
                      <div *ngIf="submitted && f['pinCode'].errors" class="invalid-feedback">
                        <div *ngIf="f['pinCode'].errors?.['required']">Zip code is required</div>
                        <div *ngIf="f['pinCode'].errors?.['minlength']">Minimum 6 digits required</div>
                        <div *ngIf="f['pinCode'].errors?.['pattern']">Only numbers allowed</div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Login Details</legend>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label for="mobile">Mobile <span class="mandatory">*</span></label>
                      <input type="tel" class="form-control" id="mobile" formControlName="mobileNumber"
                        aria-describedby="mobile" placeholder="Enter Mobile" maxlength="15"
                        [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }">
                      <div *ngIf="submitted && f['mobileNumber'].errors" class="invalid-feedback">
                        <div *ngIf="f['mobileNumber'].errors?.['required']">Mobile number is required</div>
                        <div *ngIf="f['mobileNumber'].errors?.['minlength']">Minimum 10 digits required</div>
                        <div *ngIf="f['mobileNumber'].errors?.['pattern']">Only numbers allowed</div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label for="email">Email <span class="mandatory">*</span></label>
                      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="email"
                        placeholder="Enter Email" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
                        <div *ngIf="f['email'].errors?.['email']">Please enter a valid email</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label for="password">Password <span class="mandatory">*</span></label>
                      <input type="password" class="form-control" id="password" formControlName="password"
                        aria-describedby="password" placeholder="Enter Password" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
                        <div *ngIf="f['password'].errors?.['minlength']">Minimum 8 characters required</div>
                        <div *ngIf="f['password'].errors?.['pattern']">Password must contain at least one uppercase letter, one number, and one special character (@$!%*#?&)</div>
                      </div>
                      <div class="password-requirements mt-2">
                        <p>Password must include:</p>
                        <ul style="list-style: none; padding-left: 0;">
                          <li [ngClass]="{'text-success': hasMinLength(), 'text-danger': !hasMinLength()}">
                            <i class="fa" [ngClass]="{'fa-check': hasMinLength(), 'fa-times': !hasMinLength()}"></i>
                            At least 8 characters
                          </li>
                          <li [ngClass]="{'text-success': hasUppercase(), 'text-danger': !hasUppercase()}">
                            <i class="fa" [ngClass]="{'fa-check': hasUppercase(), 'fa-times': !hasUppercase()}"></i>
                            At least one uppercase letter
                          </li>
                          <li [ngClass]="{'text-success': hasNumber(), 'text-danger': !hasNumber()}">
                            <i class="fa" [ngClass]="{'fa-check': hasNumber(), 'fa-times': !hasNumber()}"></i>
                            At least one number
                          </li>
                          <li [ngClass]="{'text-success': hasSpecialChar(), 'text-danger': !hasSpecialChar()}">
                            <i class="fa" [ngClass]="{'fa-check': hasSpecialChar(), 'fa-times': !hasSpecialChar()}"></i>
                            At least one special character (@$!%*#?&)
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label for="confirmPassword">Confirm Password <span class="mandatory">*</span></label>
                      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        aria-describedby="confirmPassword" placeholder="Confirm Password" maxlength="50"
                        [ngClass]="{ 'is-invalid': submitted && (f['confirmPassword'].errors || frmValidate.errors?.['mismatch']) }">
                      <div *ngIf="submitted && (f['confirmPassword'].errors?.['required'] || frmValidate.errors?.['mismatch'])" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                        <div *ngIf="frmValidate.errors?.['mismatch']">Passwords do not match</div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Additional Details</legend>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label for="cloudProvider">Cloud Provider <span class="mandatory">*</span></label>
                      <select class="form-control" id="cloudProvider" formControlName="cloudProvider"
                        aria-describedby="cloudProvider" [ngClass]="{ 'is-invalid': submitted && f['cloudProvider'].errors }">
                        <option value="" selected>--Select Cloud Provider--</option>
                        <option value="onedrive">OneDrive</option>
                        <option value="aws">AWS</option>
                        <option value="gcp">GCP</option>
                      </select>
                      <div *ngIf="submitted && f['cloudProvider'].errors" class="invalid-feedback">
                        <div *ngIf="f['cloudProvider'].errors?.['required']">Cloud provider is required</div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label for="retentionNeeded">Retention Needed (days)</label>
                      <input type="text" class="form-control" id="retentionNeeded" formControlName="retentionNeeded"
                        aria-describedby="retentionNeeded" placeholder="Enter Retention Days (e.g., 2)"
                        maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['retentionNeeded'].errors }">
                      <div *ngIf="submitted && f['retentionNeeded'].errors" class="invalid-feedback">
                        <div *ngIf="f['retentionNeeded'].errors?.['pattern']">Must be a valid number</div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" [disabled]="frmValidate.invalid">Submit</button>
                    <button type="button" class="btn btn-secondary ms-2" (click)="onReset()">Reset</button>
                  </div>
                </div>
              </form>
              <!-- Excel Upload Section -->
              <div class="row mt-4">
                <div class="col-lg-12">
                  <h3>Upload Users via Excel</h3>
                  <div class="input-group mb-3">
                    <input type="file" class="form-control" id="excelFile" accept=".xlsx,.xls"
                      (change)="onFileSelected($event)">
                    <button class="btn btn-primary" type="button" (click)="onUploadExcel()"
                      [disabled]="!selectedFile">Upload Excel</button>
                  </div>
                  <a href="/api/auth/downloadUserTemplate" class="btn btn-secondary" download="user_upload_template.xlsx">Download Template</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': modalDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ userMessage.includes('successfully') ? 'Success' : 'Error' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ userMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModel()">Close</button>
      </div>
    </div>
  </div>
</div>