<app-navbar></app-navbar>

<div class="dashboard-container">
    <div class="dashboard-cards">
      <mat-card class="card">
        <div class="card-content">
          <mat-icon>business</mat-icon>
          <div>
            <h2>50</h2>
            <p>Company</p>
          </div>
        </div>
      </mat-card>
      <mat-card class="card">
        <div class="card-content">
          <mat-icon>storage</mat-icon>
          <div>
            <h2>50TB</h2>
            <p>storage</p>
          </div>
        </div>
      </mat-card>
      <mat-card class="card">
        <div class="card-content">
          <mat-icon>groups</mat-icon>
          <div>
            <h2>240+</h2>
            <p>Users</p>
          </div>
        </div>
      </mat-card>
    </div>
  
    <div class="dashboard-charts">
      <mat-card>
        <!-- Add Bar Chart Here -->
        <canvas id="barChart"></canvas>
      </mat-card>
      <mat-card>
        <!-- Add Line Chart Here -->
        <canvas id="lineChart"></canvas>
      </mat-card>
    </div>
  </div>
  